@import '../../../main-styles.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;

    &:hover{
        .x-icon-button{
            opacity: 4;
            transform: scale(1);
        }
    }

    .x-icon-button{
        position: absolute;
        height: 34px;
        width: 34px;
        background: $purple;
        right: 0;
        border-radius: 50%;
        background-image: url('../../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        top:-17px; //has to be half of the height
        right: -17px; //half of width

        transform: scale(0);

        transition: opacity 0.4s ease-in, transform 0.2s ease-out;
        opacity: 0;

        cursor: pointer;

        &:hover{
            transform: scale(1.2);
        }
    }
}

.budget-item{
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;

    .description{
        display: flex;
        flex-grow: 1; //takes up all the space
        font-size: 18px;
        margin-left: 5px;

        align-items: center;
    }

    .amount{
        padding: 5px;
        border-radius: 8px;
    }

    transition: background-color 0.2s ease-out;
    &:hover{
        background-color: darken($color: #81818150, $amount: 0);
    }
}

.expense{
    p { 
        color: $red;
    }

    .amount{
        background-color: $light-red;
    }
}

.income{
    p { 
        color: $green;
    }

    .amount{
        background-color: $light-green;
    }
}